.checkborder{
  border-color: black;
  border-width: 1px;
  border-style: solid;
}

.headerdiv{
  margin-top: 20px;
}

.nopadding{
  padding: 0px !important;
}

.loader{
  margin-top: 200px !important;
  display: none;
}

.companies{
  margin-top: 50px;
}

.company_info{
  padding-top: 20px !important;
  border-style: solid;
  border-color: #E3F2FD;
  border-width: 1px;
  padding-bottom: 20px !important;
}

.company_info:hover{
  border-color: transparent;
  box-shadow:0 1px 4px #E3F2FD, 0 0 40px #E3F2FD;
}

.global_link{
  margin-top: 10px;
  margin-right: 10px;
  color: #fd6107;
}

.tags_span{
  background-color: #fd6107;
  border-radius: 5px;
  padding: 5px;
}

.social_handle_image{
  width: 30px !important;
}

.company_info div{
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom-color: #B2EBF2;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}
