<!doctype html>
<html>
    <head>
        <link href="{{ STATIC_URL }}css/bootstrap.css" type="text/css" rel="stylesheet" />
        <link href="{{ STATIC_URL }}css/main.css" type="text/css" rel="stylesheet" />
        <link href="{{ STATIC_URL }}css/bootstrap-theme.css" type="text/css" rel="stylesheet" />
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    </head>
  <body>
    {% block content %}
    {% endblock %}
  </body>
</html>
